/.metadata/
*.lombok
*.class
*.png
*.binary
*.svg
*.processors
*.Processor
*.gif
*.EclipseASTVisitor
*.MF
*.IdeLocationProvider
*.RuntimeDependencyInfo
*.PostCompilerTransformation
*.EclipseAnnotationHandler
*.LombokApp
*.EclipseSingularsRecipes$EclipseSingularizer
*.JavacAnnotationHandler
*.JavacSingularsRecipes$JavacSingularizer
*.JavacASTVisitor
*.txt
